/* Variables */

// FONTS -------------------------------------- *

$heading:   'Libre Baskerville', serif;
$body:      'Lato', sans-serif;

// COLORS ------------------------------------- *

$cool-blue:   	#26ADE4;
$nice-green:	#A8DBA8;
$light-blue:  	#EBF7F8;
$gray-medium:	rgb(125,125,125);
$gray-dark:		rgb(60,60,60);